# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TFG_SourceCode.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Desarrollo de un Prototipo de Videojuego en Red\Producto\Proyecto de Unreal Engine\.idea\.idea.TFG_SourceCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
