# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TFG_SourceCode.iml
# Datasource local storage ignored files
/../../../../../../../:\Desarrollo de un Prototipo de Videojuego en Red\Producte\Source Code\.idea\.idea.TFG_SourceCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
